/*--------------------------------------------------------------
##	timeline page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#5.0	time-line-section
--------------------------------------------------------------*/
.timeline-pg .page-title {
	@include background-style("../images/pg-title/img-2.jpg", center center, cover, no-repeat, local);
}

.time-line-section {
	.content > p:first-child {
		font-family: $heading-font;
		font-size: 24px;
		font-size: calc-rem-value(24);
		font-weight: normal;
		color: $heading-color;
		padding-right: 75px;
		margin: -10px 0 1.9em;

		@include media-query(1199px) {
			font-size: 20px;
			font-size: 20px;
			padding-right: 0;
		}

		@include media-query(767px) {
			font-size: 16px;
			font-size: 16px;
		}

		span {
			font-weight: bold;
		}
	}

	/*** tab ***/
	.timeline-tab {

		.tab-pane {
			overflow: hidden;
		}

		.tab-pane .left-col {
			width: 45%;
			float: left;

			@include media-query(767px) {
				width: 100%;
				float: none;
			}
		}

		.tab-pane .right-col {
			width: 50%;
			float: right;

			@include media-query(767px) {
				display: none;
			}
		}

		.tab-content .year {
		 	font-size: 36px;
		 	font-size: calc-rem-value(36);
		 	padding-bottom: 0.33em;
		 	margin: 0;
		 	position: relative;

		 	@include media-query(991px) {
				font-size: 28px;
				font-size: calc-rem-value(28);
			}

		 	&:after {
		 		content: "";
		 		background-color: $theme-primary-color;
		 		width: 166px;
		 		height: 2px;
		 		position: absolute;
		 		left: 0;
		 		bottom: 0;

		 		@include media-query(767px) {
					width: 120px;
				}
		 	}
		}

		.tab-content .details {
			margin-top: 100px;

			@include media-query(991px) {
				margin-top: 50px;
			}

			@include media-query(767px) {
				margin-top: 20px;
			}
		}

		.tablist {
			width: 120%;
			position: relative;
			left: -6%;
			margin-top: 120px;
			overflow: hidden;

			@include media-query(1199px) {
				width: 100%;
				position: static;
				left: 0;
				margin-top: 80px;
			}

			@include media-query(991px) {
				margin-top: 60px;
			}

			@include media-query(767px) {
				width: 50%;
				margin-top: 10px;
			}
		}

		.tablist li {
			width: 16.66%;
			float: left;
			position: relative;

			@include media-query(767px) {
				width: 50%;
				float: none;
				border-bottom: 1px solid lighten($black, 85%);
				margin-bottom: 3px;
				padding-bottom: 3px;
			}

			&:after {
				content: "";
				background-color: $heading-color;
				width: 9px;
				height: 9px;
				@include rounded-border();
				position: absolute;
				right: 20%;
				top: 50%;
				@include translatingY();

				@include media-query(767px) {
					display: none;
				}
			}

			&:last-child:after {
				display: none;
			}

		}

		.tablist li a {
			font-family: $heading-font;
			font-size: 36px;
			font-size: calc-rem-value(36);
			font-weight: normal;
			color: $heading-color;

			@include media-query(1199px) {
				font-size: 30px;
				font-size: calc-rem-value(30);
			}

			@include media-query(991px) {
				font-size: 24px;
				font-size: calc-rem-value(24);
			}

			@include media-query(767px) {
				font-size: 18px;
				font-size: calc-rem-value(18);
			}

		}

		.tablist li.active a {
			color: $theme-primary-color;
		}
	}




}



